main {
  margin: auto;
  max-width: 768px;
  min-width: 320px;
}

header {
  margin-bottom: 20px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #000000;
}

h1 {
  font-size: xx-large;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 0;
}

footer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basic-info img {
  max-width: 400px;
  width: 100%;
}

.course-logo--link {
  margin-left: auto;
}

.course-logo--img {
  height: 60px;
}

@media only screen and (min-device-width: 769px) {
  .basic-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .basic-info hr {
    display: none;
  }
  
  .basic-info--name {
    padding-left: 50px;
  }  
}
  
